{
  "name": "caf_iot_{{appName}}",
  "description": "Cloud Assistants IoT example (Device)",
  "version": "0.3.0",
  "author": "{{author}}",
  "dependencies": {
      "caf_iot" : "^0.3.0",
      "caf_rpi_gpio" : "^0.3.0"
   },
    "scripts": {
       "start" : "node ./index.js",
        "build": "echo done"
    },
   "main": "index",
  "engines": { "node": ">= 10.0.0" }
}
