{
  "name": "caf_iot_{{{appName}}}",
  "description": "Cloud Assistants IoT example (Device)",
  "version": "0.4.0",
  "author": "{{{author}}}",
  "dependencies": {
      "caf_iot" : "^0.4.0",
      "caf_iot_gatt" : "^0.4.0",
      "@abandonware/noble": "1.9.2-11",
      "readable-stream": "^2.3.7",
      "@abandonware/bluetooth-hci-socket": "^0.5.3-1"
   },
   "browser" : {
        "./lib/main.js" : "./lib/main-shim.js"
    },
    "scripts": {
       "start" : "node ./index.js",
        "build": "echo done"
    },
   "main": "index",
  "engines": { "node": ">= 10.0.0" }
}
